<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8eef">  <td>19/10/20 12:05:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlight()[pri:2, instance:com.NewTours.testscripts.NewTest@39aeed2f]">BookingFlight</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/10/20 12:05:12</td>   <td>6335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ConfirmMessageCheck()[pri:3, instance:com.NewTours.testscripts.NewTest@39aeed2f]">ConfirmMessageCheck</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/10/20 12:04:58</td>   <td>-7274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Login()[pri:1, instance:com.NewTours.testscripts.NewTest@39aeed2f]">Login</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/10/20 12:05:12</td>   <td>6659</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:com.NewTours.testscripts.NewTest@39aeed2f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>19/10/20 12:04:45</td>   <td>-20550</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:com.NewTours.testscripts.NewTest@39aeed2f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1308244637</td>   <td></td> </tr>
</table>
